@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
   font-family: 'Montserrat', sans-serif;
}
.color{
    background: rgb(255, 80, 0);
    color: white;
}
.slider{
    background: rgba(241, 241, 241, 0.7);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
input{
    width: 100%;
    background: white;
    border-radius: 5px;
    border:1px solid  rgba(230, 228, 228, 0.9);;
}
.title{
    color:  #47525E;
}
.text{
    cursor: pointer;
    color: rgb(255, 80, 0);
    text-decoration: underline;
}
.navbar{
    height: 70px;
    width: 100%;
}
h1{
    font-size: 35px;
}
.tamaño{

    font-size: 10px;

}
.hidden{
    display: none;
}
h5:hover{
    text-decoration: underline;

}